.form-field {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px 0;
  align-self: center;
}

form {
  justify-self: center;
  width: 80%;
  padding: 10px;
  margin: 30px;
}

.character-count {
  align-self: center;
  width: 80%;
  text-align: right;
  font-size: 0.875rem;
}
