<h1 class="text-center">Panier ({{ cartService.getCartSize() }} articles)</h1>

<p-dataView #dv [value]="products()" *ngIf="products().length > 0">
  <ng-template pTemplate="list" let-products>
    @for (product of products; track product) {
      <p-card class="block mb-2">
        <div class="flex align-items-start">
          <img ngSrc="assets/icons/alten.jpg" alt="{{ product.name }}" style="width: 100px; height: auto; margin-right: 10px;"
               height="885" width="591" priority/>
          <div style="display: flex; flex-direction: column; gap: 5px">
            <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
            <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>
            <div class="font-medium text-secondary text-sm">{{ product.price | currency: 'EUR':'symbol':'1.2-2':'fr-FR' }}</div>
            <p-rating [(ngModel)]="product.rating" [cancel]="false" [stars]="5" [readonly]="true"></p-rating>
            <span class="font-medium text-secondary text-sm">{{ product.description }}</span>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-inputNumber [(ngModel)]="product.quantity"
                           [min]="0"
                           [showButtons]="true"
                           [step]="1"
                           [max]="99"
                           [inputStyle]="{ 'width': '60px' }"
                           buttonLayout="horizontal"
                           incrementButtonIcon="pi pi-plus"
                           decrementButtonIcon="pi pi-minus"
                           mode="decimal"
                           ariaLabel="Quantité dans le panier"
                           (onInput)="cartService.updateProductQuantity(product)">
            </p-inputNumber>
            <p-button label="Supprimer du panier" severity="primary" (onClick)="cartService.removeFromCart(product)"/>
          </div>
        </ng-template>
      </p-card>
    }
  </ng-template>
</p-dataView>
<div class="text-left mt-2 ml-3 mb-4" *ngIf="products().length > 0">Total : {{ cartService.getCartPrice() | currency: 'EUR':'symbol':'1.2-2':'fr-FR' }}</div>
<h2 class="text-center mt-8" *ngIf="products().length === 0">Aucun article dans le panier</h2>
